node_modules/
*/**/node_modules/
.idea/
.DS_Store

dist/
*/**/dist/
build/
*/**/build/
data/
*/**/data/
logs/
*/**/logs/

docker/data/

.env
*/**/.env
yarn-error.log
*/**/yarn-error.log

coverage/
.nyc_output/
